<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/footer.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca de</h6>
          <p class="text-justify">El bazar <i>Cchapchita</i> es una tienda que ofrece productos 
          requeridos por los oficiales de policia. Cada uno de ellos cumple con los estandares
          de calidad que cualquier oficial necesita.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categorias</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">Superiores</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">Inferiores</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Esenciales</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Camisas</a></li>
            <li><a href="http://scanfcode.com/category/android/">Pantalones</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Acceso Rapido</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">¿Es una institución?</a></li>
            <li><a href="http://scanfcode.com/contact/">¿Quiere ser proveedor?</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contactenos</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Politica de pago y envios</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Ubicación</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 Derechos Reservados
            <a href="#">Ccapchita</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- partial -->

</body>

</html>