<!DOCTYPE html>

<html lang="en">

<head>
    <title>Registro - Login</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500" rel="stylesheet">
    <link rel="stylesheet" href="static/css/register_frm.css">
    <link rel="stylesheet" href="static/css/product_bar2.css">
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container-wim">
        <img src="static/images/wallp_register.jpg" class="image2" style="width:100%;">
        <div class="centered container-color-my">
            <div class="form_wrapper ">
                <div class="form_container">
                    <div class="title_container">
                        <h2>Registrarse en Ccapchita</h2>
                    </div>
                    <div class="row clearfix">
                        <div class="">
                            <form id='register-form' autocomplete="off">
                                <div class="row clearfix">
                                    <div class="col_half">
                                        <div class="input_field">
                                            <span>
                                                <i aria-hidden="true" class="fa fa-user"></i>
                                            </span>
                                            <input type="text" name="name" placeholder="Nombre" />
                                        </div>
                                    </div>
                                    <div class="col_half">
                                        <div class="input_field">
                                            <span>
                                                <i aria-hidden="true" class="fa fa-user"></i>
                                            </span>
                                            <input type="text" name="name" placeholder="Apellidos" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="input_field">
                                    <span>
                                        <i aria-hidden="true" class="fa fa-envelope"></i>
                                    </span>
                                    <input type="email" name="email" placeholder="Email" required />
                                </div>
                                <div class="input_field">
                                    <span><i aria-hidden="true" class="fa fa-lock">
                                        </i>
                                    </span>
                                    <input type="password" name="password" placeholder="Contraseña" required />
                                </div>
                                <div class="input_field">
                                    <span>
                                        <i aria-hidden="true" class="fa fa-lock"></i>
                                    </span>
                                    <input type="password" name="password" placeholder="Repita Contraseña" required />
                                </div>

                                <div class="input_field radio_option">
                                    <span class='radio_icon'>
                                        <i class="fa fa-venus-mars" aria-hidden="true"></i>
                                    </span>
                                    <div class='radio_group'>
                                        <input type="radio" name="gender" id="gender-m" checked="true">
                                        <label for="gender-m">Hombre</label>

                                        <input type="radio" name="gender" id="gender-f">
                                        <label for="gender-f">Mujer</label>
                                    </div>
                                </div>

                                <div class="input_field select_option">
                                    <span><i id='country-icon' aria-hidden="true" class="fa fa-globe"></i>
                                    </span>
                                    <input name='country' type="text" id="country-list" list="country-datalist"
                                        placeholder='Direccion' autocomplete="off">
                                    <datalist id="country-datalist" autocomplete="off">
                                    </datalist>
                                    <div id='country-error' class=''></div>
                                    <!--div class="select_arrow"></div-->
                                </div>
                                <input id='submit-data' class="button" type="submit" value="Register" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    {% endblock %}
    <script src='https://use.fontawesome.com/723b3db6c5.js'></script>
    <script src="static/js/register_frm.js"></script>
</body>

</html>